h3{
        font-family: 'Gruppo', cursive;
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        font-weight:  bolder;
}
.nav-link{
    font-family: 'Gruppo', cursive;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
#Titulo{
    margin-left: 250px;
}
#menu{
    text-decoration: none;
    color: black;
    display: none;
}
.ed{
    display: none;
}
@media (max-width: 1300px){
    #Titulo{
        margin-left: 0;
        
    }
}
@media (max-width: 800px){
#Titulo{
    margin-left: 0;
    font-size: 15px;
    display: block;
    padding-top: 7px;
}
.nav-link{
    
    font-size: 10px;
}
#Nlogo{
    font-size: 15px;
}
#logo{
    width: 15px;
}
#menu{
    display: block;
}
.nav-link{
    display: none;
}
}
.A_icon{
    display: block;
    float: left;
}
.A_let{
    display: block;
    
}
.A_cont{
    background: white;
    border: solid black 1px;
    width: 200px;
    border-radius: 20px;
}
.A_cont:hover{
    color: red;
    cursor: pointer;
}
#agregar{
    color: white;
    background-color: black;
    width: 200px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
}
.oculto{
    display: none;
}
#error_asignacion{
    color: red;
}
