.nav-link {
    color: black;
}
nav {
    border-bottom: #c7c6c8 solid;
}
#formulario {
    width: 20%;
    margin-left: 5%;
    margin-top: 5%;
    border: 1px solid black;
    padding: 2%;
    background-color: #e8edea;
    border: white solid 1px;
}
h3 {
    text-align: center;
}

input {
    box-shadow: 6px 6px 1px #cac8ca;
}
.btn {
    background-color: black;
    color: white;
    margin-top: 7%;
    width: 100%;
    border-radius: 0;
    box-shadow: 6px 6px 1px #e8edea;
}
label {
    margin-top: 3%;
}
